<footer>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/slide-show">Slide Show</a></li>
        <li><a href="/terms/#privacy">Privacy Policy</a></li>
      </ul>
    </nav>
  </footer>
  